.dates, .header{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.day-item, .date-item{
	padding: 0.5rem;
	width: 2.25rem;
}

.date-item.disabled{
	cursor: not-allowed;
}

.date-item:not(.disabled):not(.selected):hover{
	background: #A9B5BC;
}

.date-item.today{
	border-bottom: dashed 0.125rem #DD1C1A;
}

.date-item.selected{
	background: #06AED5;
	color: #FFFFFF;
}

.day-item{
	border-bottom: dashed 1px #E0E0E0;
	margin-bottom: 0.5rem;
}

.date-item:nth-child(7n), .date-item:nth-child(7n+1){
	color: red;
  }

.date-item.passive, .date-item.disabled{
	color: #E0E0E0;
}