.app_tab{
	/* margin-left: auto; */
	width: 320px;
	height: 100%;
	font-size: 0.875rem;
	/* background: #E0E0E0; */
	/* padding: 1rem; */
}

.date_placeholder{
	margin: 0.5rem 0;
	display: inline-block;
}

.image_ctr:nth-child(1){
	margin-bottom: 1rem;
}

.days_image{
	width: 15rem;
	cursor: pointer;
}